//Default
.pl-15 {
    padding-left: 0;
    padding-right: 15px;
}
.pr-15 {
    padding-right: 0;
    padding-left: 15px;
}
.mr-20 {
    margin-right: 0;
    margin-left: 20px;
}
.pr-20 {
    padding-right: 0;
    padding-left: 20px;
}
.pl-20 {
    padding-left: 0;
    padding-right: 20px;
}

//Header
.heder-right-content {
    .social-content {
        ul {
            padding-right: 0;
            li {
                margin-right: 0;
                margin-left: 8px;
            }
        }
    }
}
.middle-header-right-content {
    ul {
        padding-right: 0;
        li {
            margin-left: 40px;
            margin-right: 0;
            &:last-child {
                margin-left: 0;
            }
        }
    }
    .header-contact-box {
        padding-left: 0;
        padding-right: 58px;
        .icon {
            right: 0;
            left: auto;
        }
    }
}

//Navbar
.desktop-nav {
    .navbar {
        .navbar-nav {
            .nav-item {
                &:last-child {
                    a {
                        margin-left: 0;
                        margin-right: 15px;
                    }
                }
                &:first-child {
                    a {
                        margin-right: 0;
                        margin-left: 15px;
                    }
                }
                .dropdown-menu {
                    right: 0;
                    left: auto;
                    text-align: right;

                    li {
                        a {
                            &.dropdown-toggle {
                                &::before {
                                    left: 13px;
                                    right: auto;
                                }
                            }
                        }
                        .dropdown-menu {
                            left: 250px;
                            right: auto;
                            
                            li {
                                .dropdown-menu {
                                    left: 250px;
                                    right: auto;
        
                                    li {
                                        .dropdown-menu {
                                            left: -250px;
                                            right: auto;
                                            
                                            li {
                                                .dropdown-menu {
                                                    left: -250px;
                                                    right: auto;
                                                    
                                                    li {
                                                        .dropdown-menu {
                                                            left: -250px;
                                                            right: auto;
                                                            
                                                            li {
                                                                .dropdown-menu {
                                                                    left: -250px;
                                                                    right: auto;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .others-options {
           margin-right: 30px;
           padding-left: 0;
            .option-item {
                margin-left: 0;
                margin-right: 15px;
            }
            &.style2 {
                .header-contact-box {
                    padding-left: 0;
                    padding-right: 58px;
                    margin-right: 0;
                    margin-left: 30px;
                    .icon {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
    }
}

.others-option-for-responsive {
	.dot-menu {
		right: auto;
        left: 40px;
	}
	.container {
		.container {
			position: absolute;
			left: -2px;
            right: auto;
		}
	}
	.others-options {
        .option-item {
            display: inline-block;
            .default-btn {
                right: -10px;
                left: auto;
            }
        }        
        &.style2 {
            .option-item {
                .default-btn {
                    right: -5px;
                    left: auto;
                }
            }
            .header-contact-box {
                .icon {
                    right: 0;
                    left: auto;
                }
            }
            
        }
    }
}

/*
Banner Area Style
======================================================*/
.slider-item {
    &::before {
        background: linear-gradient(90deg, rgba(44, 44, 44, 0) 28.13%, rgba(44, 44, 44, 0.75) 100%);
    }
}
.hero-slider {
    &.owl-theme {
        .owl-nav  [class*=owl-]{
            right: auto;
            left: 100px;
            &.owl-next {
                right: auto;
                left: 100px;
            }
        }
    }
}

.banner-content-two {
    margin-right: 0;
}
.banner-image-area {
    .banner-shape {
        right: 0;
    }
}

//Page Header
.page-header-area {
    .page-header-content {
        ul {
            padding-right: 0;
            li {
                margin-left: 20px;
                margin-right: 0;
                &:last-child {
                    margin-left: 0;
                }
                &::before {
                    left: -18px;
                    right: auto;
                }
            }
            .page-header-image {
                left: -60px;
                right: auto;
            }
                
        }
    }
}

//About
.about-content {
    .about-features {
        ul {
            padding-right: 0;
            li {
                padding-left: 0;
                padding-right: 65px;
                .icon {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}
.about-area {
    &.style-2 {
        .about-content {
            .experience {
                padding-left: 0;
                padding-right: 95px;
                .icon {
                    right: 0;
                }
            }
        }
    }
}

//Counter
.single-counter-card {
    &::before {
        left: -12px;
        right: auto;
    }
}

.choose-area {
    .tab-teaser {
        .tab-menu {
            ul {
                padding-right: 0;
            }
        }
    }
}

//Services
.single-services-card {
    .number {
        right: auto;
        left: 0;
        border-radius: 5px 0 50px 0;
        &::before {
            border-radius: 5px 0 50px 0;
        }
    }
}
.services-slider {
    &.owl-theme {
        .owl-nav [class*=owl-] {
            right: -33px;
            &.owl-next {
                left: -33px;
                right: auto;
            }
        }
    }
}

.section-title.style2 {
    text-align: end;
}
.services-details-content {
    .planing-content {
        .planing-list {
            ul {
                padding-right: 0;
                li {
                    padding-left: 0;
                    padding-right: 20px;
                    i {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
    }
}

//Benefits
.benefits-slider {
    &.owl-theme {
        .owl-nav [class*=owl-] {
            right: 0;
            left: auto;
            &.owl-next {
                right: 60px;
            }
        }
    }
}

//Who We Are
.who-we-are-content {
    .who-we-are-features {
        ul {
            padding-right: 0;
            li {
                padding-left: 0;
                padding-right: 65px;
                .icon {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}
.what-we-do-content {
    .what-we-do-features {
        ul {
            padding-right: 0;
            li {
                padding-right: 25px;
                padding-left: 0;
                i {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}

//Faq
.faq-area {
    .faq-accordion {
        .accordion {
            .accordion-title {
                i {
                    right: auto;
                    left: 15px;
                }
            }
        }
    }
}

//Project
.project-slider {
    &.owl-theme {
        .owl-nav [class*=owl-] {
            left: -85px;
            right: auto;
            &.owl-next {
                left: -155px;
                right: auto;
            }
        }
    }
}
.skill-bar .progress-number-mark {
    padding: 0px 0px;
}
.work-slider {
    &.owl-theme {
        .owl-nav [class*=owl-] {
            right: 0;
            left: auto;
            &.owl-next {
                right: 60px;
            }
        }
    }
}
.portfolio-area {
    .shoting-btn {
        ul {
            padding-right: 0;
        }
    }
}
.project-description {
    ul {
        padding-right: 0;
    }
}
.portfolio-details-content {
    .planing-content {
        .planing-list {
            ul {
                padding-right: 0;
                li {
                    padding-right: 20px;
                    padding-left: 0;
                    i {
                        right: 0;
                    }
                }
            }
        }
    }
}
.portfolio-slider {
    &.owl-theme {
        .owl-nav [class*=owl-] {
            right: -25px;
            left: auto;
            &.owl-next {
                left: -25px;
                right: auto;
            }
        }
    }
}

//Pricing
.single-pricing-card {
    .featurs-list {
        ul {
            padding-right: 0;
            li {
                padding-left: 0;
                padding-right: 20px;
                i {
                    right: 0;
                }
            }
        }
    }
}

//Privacy
.privacy-content {
    .list {
        ul {
            padding-right: 0;
            li {
                padding-left: 0;
                padding-right: 20px;
                i {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}
.condition-content {
    .list {
        ul {
            padding-right: 0;
            li {
                padding-left: 0;
                padding-right: 20px;
                i {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}

//Coming Soon
.coming-soon-counter {
    .list {
        ul {
           padding-right: 0;
           li {
            &::before {
                left: -30px;
                right: auto;
            }
            &::after {
                left: -30px;
                right: auto;
            }
        }
        }
    }
}
.coming-soon-content {
    .social-links {
        ul {
            padding-right: 0;
            li {
                margin-left: 10px;
                margin-right: 0;
            }
        }
    }
}

//Choose
.choose-content {
    .choose-features-list {
        ul {
            padding-right: 0;
            li {
                padding-right: 65px;
                padding-left: 0;
                .number{
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}

//Testimonial
.single-testimonials-card {
    .testimonials-content {
        .ratings-list {
            padding-right: 0;
        }
        .icon {
            left: 10px;
            right: auto;
        }
    }
}
.testimonials-slider {
    &.owl-theme {
        .owl-nav [class*=owl-] {
            right: -23px;
            left: auto;
            &.owl-next {
                left: -23px;
                right: auto;
            }
        }
    }
}
.single-review-box {
    .client-profile {
        padding-left: 0;
        padding-right: 95px;
        img {
            right: 0;
            left: auto;
        }
    }
    .quote {
        right: auto;
        left: 20px;
    }
}
.reviews-slider {
    &.owl-theme {
        .owl-nav [class*=owl-] {
            right: -25px;
            left: auto;
            &.owl-next {
                left: -25px;
                right: auto;
            }
        }
    }
}
.testimonials-slider2 {
    &.owl-theme {
        .owl-nav [class*=owl-] {
            right: 0;
            left: auto;
            &.owl-next {
                right: 60px;
            }
        }
    }
}
.single-testimonials-box {
    .cliens-profile {
        padding-right: 125px;
        padding-left: 0;
        img {
            right: 40px;
            left: auto;
        }
    }
    .testimonials-content {
        &::before {
            left: auto;
            right: 50px;
        }
    }
}

//Team
.single-team-box {
    .team-content {
        .social-content {
            ul {
                padding-right: 0;
                li {
                    margin-right: 0;
                    margin-left: 5px;
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

//Blog
.single-blog-card {
    .blog-content {
        ul {
            padding-right: 0;
            margin-right: 58px;
            margin-left: 0;
            li {
                margin-right: 10px;
                margin-left: 0;
            }
        }
    }
    .blog-img {
        .date {
            left: auto;
            right: 20px;
        }
    }
    &.style2 {
        .blog-content {
            ul {
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
    &.style3 {
        .blog-img {
            .date {
                left: 30px;
                right: auto;
            }
        }
        .blog-content {
            ul {
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
    &.style4 {
        .blog-content {
            ul {
                padding-right: 0;
                margin-right: 0;
                li {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
}
.sidebar-widget {
    .search-bar {
        .form-group {
            .form-control {
                text-align: left;
            }
        }
    }
}
.Category-list {
    ul {
        padding-right: 0;
        li {
            padding-left: 0;
            padding-right: 18px;
            i {
                right: 0;
                left: auto;
            }
        }
    }
}
.widget-peru-posts-thumb {
    .item {
        .thumb {
            float: right;
            margin-left: 15px;
            margin-right: 0;
        }
    }
}
.tag-cloud {
    ul {
        padding-right: 0;
        li {
            margin-right: 0;
            margin-left: 10px;
        }
    }
}
.blog-details-content {
    .user-and-date {
        ul {
            padding-right: 0;
        }
    }
    .quote {
        span {
            padding-right: 37px;
            padding-left: 0;
            &::before {
                right: 50px;
                left: auto;
            }
        }
    }
}
.single-comment-box {
    .user-profile {
        padding-left: 0;
        padding-right: 85px;
        img {
            right: 0;
            left: auto;
        }
    }
    .reply {
        left: 0;
        right: auto;
    }
}


//Footer
.footer-useful-links-area {
    .link-list {
        ul {
            padding-right: 0;
            li {
                padding-left: 0;
                padding-right: 20px;
                i {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}
.footer-address-area {
    margin-right: 0;
    ul {
        padding-right: 0;
        li {
            padding-left: 0;
            padding-right: 58px;
            .icon {
                right: 0;
                left: auto;
            }
        }
    }
}
.footer-logo-area {
    .social-content {
        ul {
            padding-right: 0;
            li {
                margin-right: 0;
                margin-left: 5px;
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}

//NewsLetter
.newsletter-overly {
    &::before {
        right: 0;
        left: auto;
        border-radius: 60% 0 0 0;
    }
    .newslatter-img {
        .image-2 {
            right: 40px;
            left: auto;
        }
    }
    .newslatter-content {
        padding: 100px 30px 100px 100px;
    }
}


@media only screen and (max-width: 767px) {
    .heder-right-content {
        .time-content {
            p {
                font-size: 10px;
            }
        }
    }
    .middle-header-right-content {
        .header-contact-box span {
            font-size: 12px;
        }
    }
    .hero-slider {
        &.owl-theme {
            .owl-nav [class*=owl-] {
                    right: auto;
                    left: 0;
                &.owl-next {
                    right: auto;
                    left: 0;
                }
            }
        }
    }
    .newsletter-overly {
        .newslatter-content {
            padding: 30px;
        }
    }
    .single-blog-card {
        &.style3 {
            .blog-img {
                .date {
                    left: 20px;
                    right: auto;
                }
            }
        }
    }
    .faq-area {
        .faq-accordion {
            .accordion {
                .accordion-title {
                   padding-left: 55px;
                    padding-right: 10px;
                    i {
                        left: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .middle-header-right-content {
        ul {
            li {
                margin-left: 0;
                margin-right: 30px;
            }
        }
        .header-contact-box {
            p {
                font-size: 13px;
            }
            span {
                font-size: 13px;
            }
            a {
                font-size: 13px;
            }
        }
    }
    .newsletter-overly {
        .newslatter-content {
            padding: 30px;
        }
    }
    .single-blog-card {
        &.style3 {
            .blog-img {
                .date {
                    left: 20px;
                    right: auto;
                }
            }
        }
    }
    .faq-area {
        .faq-accordion {
            .accordion {
                .accordion-title {
                   padding-left: 55px;
                    padding-right: 15px;
                    i {
                        left: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .heder-right-content {
        .social-content {
            ul {
                li {
                    margin-left: 3px;
                }
            }
        }
    }
    .middle-header-right-content {
        ul {
            li {
                margin-left: 0;
                margin-right: 30px;
            }
        }
        .header-contact-box {
            p {
                font-size: 13px;
            }
            span {
                font-size: 13px;
            }
            a {
                font-size: 13px;
            }
        }
    }
    .desktop-nav {
        .navbar {
            .others-options {
               margin-right: 20px;
                .option-item {
                    margin-right: 12px;
                }
                &.style2 {
                    .header-contact-box {
                        padding-left: 0;
                        padding-right: 40px;
                        margin-left: 15px;
                    }
                }
            }
            .navbar-nav {
                .nav-item {
                    a {
                        font-size: 13px;
                        margin-left: 6px;
                        margin-right: 7px;
                        a {
                            &.dropdown-toggle {
                                &::before {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .single-review-box {
        .client-profile {
            padding-right: 80px;
        }
    }
    .single-team-box {
        .team-content {
            .social-content {
                ul {
                    li {
                        margin-left: 3px;
                    }
                }
            }
        }
    }
    .single-blog-card {
        &.style3 {
            .blog-img {
                .date {
                    left: 20px;
                    right: auto;
                }
            }
        }
    }
    .faq-area {
        .faq-accordion {
            .accordion {
                .accordion-title {
                   padding-left: 55px;
                    padding-right: 15px;
                    i {
                        left: 15px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .desktop-nav {
        .navbar {
            .others-options {
               margin-right: 20px;
                .option-item {
                    margin-right: 12px;
                }
                &.style2 {
                    .header-contact-box {
                        padding-left: 0;
                        padding-right: 40px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .single-blog-card {
        .blog-content {
            ul {
                li {
                    margin-right: 8px;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .heder-right-content {
        .social-content {
            ul {
                li {
                    margin-left: 3px;
                }
            }
        }
    }
}

/* Mobile and iPad Navbar */
@media only screen and (max-width: 991px) {
    .others-option-for-responsive {
        display: block !important;
        .container {
            .container {
                left: 0;
                right: auto;
            }
        }
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                left: 0 !important;
                right: auto !important;
            }
        }
    }
}